Repository wgsl-analyzer/wgsl-analyzer, pull requests merged in 2025-08, with the labels that each got.

#449 internal: bump rust to 1.89.0
  .github/workflows/ci.yaml
  .github/workflows/dependabot-autofix.yaml
  .github/workflows/dependencies.yaml
  Cargo.toml
  crates/hir_def/src/database.rs
  crates/hir_ty/src/database.rs
Labels: D-Trivial, S-Ready-to-Review, A-Language-Server, C-Dependencies

#451 CI improvements
  .github/workflows/ci.yaml
  .github/workflows/weekly.yaml
Labels: C-Bug, D-Trivial, S-Ready-to-Review, A-Build-System

#453 Remove `wgsl-analyzer.syntaxTree`
  editors/code/package.json
Labels: C-Bug, S-Ready-to-Review, D-Straightforward, A-Editor

#462 Remove unused env-filter feature
  Cargo.lock
  Cargo.toml
  crates/wgsl-analyzer/src/bin/main.rs
Labels: S-Ready-to-Review, A-Language-Server, D-Straightforward, C-Chore

#465 Fix regex compilation
  crates/base_db/Cargo.toml
  crates/base_db/src/shader_processor.rs
Labels: C-Bug, S-Ready-to-Review, A-Language-Server, D-Straightforward

#486 Add dummy codegen command
  xtask/src/codegen.rs
  xtask/src/codegen/assists_doc_tests.rs
  xtask/src/codegen/diagnostics_docs.rs
  xtask/src/codegen/feature_docs.rs
  xtask/src/codegen/lints.rs
  xtask/src/codegen/parser_inline_tests.rs
  xtask/src/flags.rs
  xtask/src/main.rs
Labels: S-Ready-to-Review, D-Straightforward, A-xtask, C-Chore

#487 Add test-utils and necessary output functionality to dummy codegen command
  Cargo.lock
  Cargo.toml
  crates/test-utils/Cargo.toml
  crates/test-utils/src/assert_linear.rs
  crates/test-utils/src/lib.rs
  crates/wgsl-analyzer/Cargo.toml
  crates/wgsl-analyzer/src/config.rs
  docs/book/src/configuration_generated.md
  xtask/src/codegen.rs
  xtask/src/codegen/assists_doc_tests.rs
  xtask/src/codegen/diagnostics_docs.rs
  xtask/src/codegen/feature_docs.rs
  xtask/src/codegen/lints.rs
Labels: S-Ready-to-Review, D-Modest, A-xtask, C-Chore
